main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(to right, #a9dffa, #5477d1)
}

.calculator-grid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4,6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid > buuton {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid #fff;
  outline: none;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column:1 / -1;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: #fff;
  font-size: 2.5rem;
}